
.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 102vh;
    width: 100vw;
    background: linear-gradient(to bottom, #8abfff, #32CD32); /* Gradient from blue to green */
    position: relative;
    overflow: hidden;
}

.image-container img {
    position: absolute;
    left: -350px;
    top: 360px;
    width: 60%; 
    height: auto;
    overflow: hidden; 
}

/*"Welcome To" text*/
.handwritten-image {
    position: absolute;
    left: 130px;
    top: -210px;
    width: 80%;
    height: auto;
    overflow: visible;
}

/*"Future" text*/
.handwritten-image2 {
    position: absolute;
    left: 510px;
    top: 100px;
    width: 780px;
    height: 670px;
    overflow: visible;
}

/*"Sparks" text*/
.handwritten-image3 {
    position: absolute;
    left: 710px;
    top: 300px;
    width: 780px;
    height: 670px;
    overflow: visible;
}

/*Animation for sparks*/
@keyframes rotate-spark-1 { 
    0%, 100% { transform: rotate(0deg); } 
    50% { transform: rotate(5deg); } 
}

@keyframes rotate-spark-2 {
    0%, 100% { transform: rotate(0deg); } 
    50% { transform: rotate(-7deg); } 
}

@keyframes rotate-spark-3 {
    0%, 100% { transform: rotate(0deg); } 
    50% { transform: rotate(2.5deg); }
}

.spark-1 {
    position: absolute;
    left: 980px;
    top: 180px;
    width: 650px;
    height: 550px;
    overflow: visible;
    animation: rotate-spark-1 2s steps(2) infinite; 
}

.spark-2 { 
    position: absolute;
    left: 980px;
    top: 180px;
    width: 650px;
    height: 550px;
    overflow: visible;
    animation: rotate-spark-2 2s steps(2) infinite;
}

.spark-3 { 
    position: absolute;
    left: 980px;
    top: 180px;
    width: 650px;
    height: 550px;
    overflow: visible;
    animation: rotate-spark-3 2s steps(2) infinite; 
}

/*Red start button*/
.start-text { 
    position: absolute;
    right: 400px;
    top: 650px;
    width: 350px;
    height: 300px;
    overflow: visible;
}

/*Rotation of Kids on Planet image*/
.rotating-image {
    width: 600px; 
    height: 600px;
    animation: rotate 20s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
