.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 20px;
    position: fixed;
    background-color: transparent;
    top: 21px;
    left: 50px;
    height: 100px;
    z-index: 10;
    gap: 40px; 
    margin-left: 80px;
}

.dashboard-header-container {
    display: flex;
    justify-content: center; 
    font-family: 'Finger Paint', sans-serif;
    align-items: center;
    gap: 400px; 
    margin-left: auto; 
    margin-right: 1000px; 
}

.dashboard-header h1 {
    margin: 0;
    font-size: 35px;
    cursor: pointer;
    text-align: center;
}
/* Dropdown container */
.dropdown {
    position: absolute;
    right: 20px;
    cursor: pointer;
}

/* Globe icon */
.dropdown-icon {
    width: 180px; 
    height: auto;
    object-fit: cover;
    border-radius: 100%; 
    z-index: 2;
}

/* Vertically long dropdown container */
.dropdown-content {
    position: absolute;
    top: 170px; 
    right: 32px;  
    border-radius: 100px; 
    width: 80px;  /* Width */
    height: 700px;  /* Height */
    padding: 10px;  
    outline: 3px solid #d6f1ff;  /* Orange outline */

    font-size: 30px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;  /* Evenly spaces icons */
    padding-top: 40px; /* Push content slightly lower */
    padding-bottom: 40px;
}

/* Dropdown icons */
.icon {
    display: block;
    font-size: 40px;  /* Adjust size - replaces width/height */
    margin: 40px auto;  /* Space out the icons */
    color: #2b9e44;  /* Icon color */
    text-align: center;
    cursor: pointer;  /* Makes all icons clickable */
}

.icon:hover {
    color: #000000;  /* Darker color on hover */
}
